ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p [class="note"] {
  text-align: right;
  color: red;
}

ol[ class="note"] { 
  text-align: center;
}

li[ class="note"] {
  font-size: 20px;
  color: rgb(83, 216, 105);
}

li[value="id-selector-demo"] {
  color: green;
}

li[ value="4"] {
  color: blue;
}

li[ value="5"] {
  color: purple;
  text-align: center;
}

/**/

p {
  color: red;
}

li [ class="note"] {
  font-size: 20px;
}

#id-selector-demo {
  color: green;
}

li [ value="4"] {
  color: blue;
}

li [ value="5"] {
  color: purple;
}

* {
  text-align: center;
}
.note {
  font-size: 20px;
}
